@font-face {
  font-family: "iconfont"; /* Project id 3325699 */
  src: url('iconfont.woff2?t=1663820980398') format('woff2'),
       url('iconfont.woff?t=1663820980398') format('woff'),
       url('iconfont.ttf?t=1663820980398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\eb1a";
}

.icon-exit:before {
  content: "\e69f";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-record-circle-fill:before {
  content: "\e60c";
}

.icon-qunzu:before {
  content: "\e668";
}

.icon-kehuqunzu:before {
  content: "\e673";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-kanbanrenwu:before {
  content: "\e660";
}

.icon-tiaozhuan-zhuanqu:before {
  content: "\e823";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-youxiang:before {
  content: "\e600";
  font-size:80px;
  /* width:81px;
  height:77px; */
}

.icon-shouji:before {
  content: "\e674";
  font-size:80px;
  /* width:81px;
  height:77px; */
}

.icon-jiantou-zuo:before {
  content: "\e738";
  animation:  leftMove 2s infinite ease-in-out;
}

@keyframes leftMove{
  0%{
    margin-left: 0px;
  }
  50%{
    margin-left: 10px;
  }
  100%{
    margin-left:0px;
  }
}

.icon-touxiang:before {
  content  : "\e676";
  font-size: 120px;
}